@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  background-color: #E6E9EF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#to-do-container {
  display: flex;
  height: 86%;
  width: 90%;
  border-radius: 20px;
  background-color: #FDFFFB;
  box-shadow: 7.2px 14.4px 14.4px hsl(0deg 0% 0% / 0.28);
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(183, 189, 248, 0.42);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 30%;
}
h1 {
  font-family: 'Montserrat', 'Gill Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
